<table>
  <tr>
    <th>Название:</th>
    <td> <%= f.text_field(:name) %> </td>
  </tr>
  <tr>
    <th>Текст:</th>
    <td> <%= f.text_area(:text, size: '60x20') %></td>
  </tr>
  <tr>
    <td>Обложка:</td>
    <td><%= f.file_field :image %></td>
  </tr>
  <tr>
    <td>Фон:</td>
    <td><%= f.file_field :background_image%>
    </tr>
  </table>
