<table>
  <tr>
    <th>Название:</th>
    <td> <%= f.text_field(:name) %> </td>
  </tr>
  <tr>
    <th>Текст:</th>
    <td> <%= f.text_area(:text, size: '60x20') %></td>
  </tr>
  <tr>
    <td>Обложка:</td>
    <td><%= f.file_field :image %></td>
  </tr>
      <td>Permalink</td>
      <td><%= f.text_field(:permalink) %></td>
    </tr>
</table>
