<table>
  <tr>
    <th> Theme: </th>
    <td> <%= f.text_field(:name) %> </td>
  </tr>
  <tr>
    <th> Text: </th>
    <td> <%= f.text_area(:text, size: '60x20') %></td>
  </tr>
  <tr>
      <td> Image File: </td>
      <td><%= f.file_field :image %></td>
  </tr>
</table>
