
<div class="posts index">
    <h1>Посты</h1>
    <%= link_to('Новый пост', new_post_path) %>
    <% @posts.each do |post| %>
	<div class="post block">
	    <h2><%=post.name%></h2>
	    <%= image_tag(post.image_url.to_s, size: '600x600') %>
	    <p><%=post.text%></p>
	</div>
    <% end %>
</div>
