<% @active = :blog %>
<div class="container">
  <% @posts.each do |post|%>
  <div class="record">
      <%= image_tag(post.background_image_url.to_s, :class => "background") %>
      <%= image_tag(post.image_url.to_s, :class => 'post-image') %>
    <h2><%= post.name %></h2>
    <p> <%= post.text %>  </p>
  </div>
  <% end %>
</div>
