<% @active = :blog %>

<div class="row">
  <div class="col col-xl-10 col-lg-9 col-md-9">
    <p>Lalala</p>
  </div>
  <div class="col col-xl-2 col-lg-3 col-md-3">
    <h1>Elis Type</h1>
    <p> This is paragraph lorem ipsum lalala sdhfjs
      sdfsdhjfhsjkfsdfshvjhcxh dsfhkv sdfhjksd vdvhskdfsd
      dfhfjks sdfhhgd fjdhfjh dfjhj jdhfjsdhfjshfjdsf djfhjsdfh
      dsfsfsdhfj dsjf</p>
  </div>
</div>
