$dash-color: #D9DBCE;

@font-face {
    font-family: 'Calibril';
    src: url('fonts/calibril.ttf') format('truetype');
}

.record {
  height: 30%;
  text-align: center;
  margin-bottom: 30px;
  margin: 0 auto;
  max-width: 700px;
  img.post-image {
    width: 100%;
    height: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .header {
    font-family: 'Times New Roman';
    font-size: 36px;
    font-weight: bold;
  }
  .dash {
    border: 1px solid $dash-color;
    border-style: none none solid;
  }
  .date {
    font-size:12px;
    font-family: Calibril;
    color: grey;
  }
}

.button {
  background-color: white;
  font-family: Calibril;
  border-color: grey;
  width: 100px;
  height: 30px;
  margin-top: 15px;
  border-width: 1px;
  border-style:solid;
}
.button:hover {
  border-color: #D9DBCE;
}
