// Place all the styles related to the MainPage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$white-transparent: rgba(247, 247, 247, 0.05);
@font-face {
    font-family: 'Quicksand Bold';
    src: url('fonts/Quicksand-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Quicksand Regular';
    src: url('fonts/Quicksand-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Calibril';
    src: url('fonts/calibril.ttf') format('truetype');
}


img#logo {
    display: block;
    margin-left: auto;
    margin-right:auto;
}

.container.hat {
    background-color: $white-transparent;
    width: 100%;
    text-align: center;
}

.container.main {
    background-color: $white-transparent;
    height: 100%;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    padding-top: 9px;
}

.navbar.navbar-default.center {
    background-color: $white-transparent;
    float: none;
    display: inline-block;
    margin:0 auto;
    text-align: center;
    font-family: 'Calibril';
    font-size: 16px;
}

.navbar-nav > li > a {
    padding-top:5px !important;
    padding-bottom:5px !important;
}

.navbar-nav > li {
  padding-left:30px;
  padding-right:30px;
}

.navbar {
    min-height:32px !important;
    border:none  !important;
    outline:none  !important;
}

.navbar .navbar-nav li.active {
      a {
        background-color: white;
        color: #878787;
      }
}
.navbar .navbar-nav li.active:hover {
     a {
       background-color: white;
       color: black;
     }
}


.navbar .navbar-nav  li:focus {
   a {
       color: black;
     }
}
.navbar .navbar-nav  li:hover  {
  a {
       color: #878787;
     }
}

.slide {
    margin-top: 20px;
}

.item {
    text-align: center;
    height: 500px;
    width: 100%;
}

.item img {
    margin: auto;
}

.carousel-caption {
    font-family: 'Calibril';
    font-size: 50px;
    top: 50%;
    transform: translateY(-50%);
}
