// Place all the styles related to the Post controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$dash-color: #D9DBCE;
.dash {
    border: 1px dashed $dash-color;
    border-style: none none solid;
}

//
// .right-side {
//   padding: 16px;
//   border-left: 1px solid $dash-color;
//   border-style: dashed;
//   border-right: none;
//   border-top:none;
//   border-bottom:none;
// }

.image {
    max-width: 300px;
    max-height: 300px;
}

.icons {
    text-align: center;
    .ico {
      display: inline-block;
      width: 30px;
      height: 30px;
      margin-left: 10px;
      background-size: 100% 100%;
      background-repeat: no repeat;
    }
    .youtube {
      background-image: url("/icons/youtube-logo.png");
    }
    .youtube:hover {
      background-image: url("/icons/youtube-logo-hover.png");
    }
    .pinterest {
      background-image: url("/icons/pinterest-logo.png");
    }
    .pinterest:hover {
      background-image: url("/icons/pinterest-logo-hover.png");
    }
    .vk {
      background-image: url("/icons/vk-logo.png");
    }
    .vk:hover {
      background-image: url("/icons/vk-logo-hover.png");
    }
    .behance {
      background-image: url("/icons/behance-logo.png");
    }
    .behance:hover {
      background-image: url("/icons/behance-logo-hover.png");
    }
    .facebook {
      background-image: url("/icons/facebook-logo.png");
    }
    .facebook:hover {
      background-image: url("/icons/facebook-logo-hover.png");
    }
    .instagram {
      background-image: url("/icons/instagram-logo.png");
    }
    .instagram:hover {
      background-image: url("/icons/instagram-logo-hover.png");
    }

}

.image-links {
    text-align: center;
    img {
        width: 90%;
    }
}

.face img {
    width: 100%;
    border-radius: 9px;
}
